.flex-container{

    width: 100%;

}
.flex-container ul{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}
mat-toolbar{

    background: url(https://img.freepik.com/free-photo/gradient-dark-blue-futuristic-digital-background_53876-160646.jpg);

    border: 1px solid;
    border-radius: 20px;
    
}
