<div class="mcard">
    <!-- 1 -->
    <mat-card>
        <mat-card-content>Document<mat-icon class="micon">book</mat-icon></mat-card-content>
        <div class="mh2"><h2>146.000</h2></div>
        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-bg-warning" style="width: 17%">17%</div>
          </div>
      </mat-card>
      <!-- 2 -->
      <mat-card>
        <mat-card-content>Contact<mat-icon class="micon">contacts</mat-icon></mat-card-content>
        <div class="mh2"><h2>1400</h2></div>
        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-bg-warning" style="width: 25%">25%</div>
          </div>
      </mat-card>
      <!-- 3 -->
      <mat-card>
        <mat-card-content>Email<mat-icon class="micon">email</mat-icon></mat-card-content>
        <div class="mh2"><h2>150.700</h2></div>
        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-bg-warning" style="width: 15%">15%</div>
          </div>
      </mat-card>
      
</div>
  
  